Package: com.sharedroutine.skylerk99.lwlsw.appbreak
Name: AppBreak
Depends: mobilesubstrate
Conflicts: com.sharedroutine.palbreak
Version: 1.3
Architecture: iphoneos-arm
Description: Block Substrate in any particular app using a blacklist in the settings. (Same as PalBreak but allows it to work for any app. To get PayPal working install and enable PayPal in the settings.)
Maintainer: Janosch, Skylerk99, lwlsw
Author: Janosch, Skylerk99, lwlsw
Section: Tweaks
